@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}


.container {
  width: 80%;
  margin: auto;
  display: flex;
}

.header {
  border-bottom: 3px solid #32b9cd;
}

.header .container {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: #e3b062;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #e3b062;
}

.avisoCaptura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 100%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
}

.dash-right .avisos .div-form label {
  width: 100%;
}

.dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 100%;
  /* color: #E6005A; */
  border: 3px solid #15a0d7;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #15a0d7;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #15a0d7;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #15a0d7;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: white;
}

.dash {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  background-color: white;
  height: 100vh;
}


/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(84,163,230);
  gap: 5px;
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}


.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #000000;
  font-weight: 300;
  font-size: 2.0rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: black;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
  background-color: white;
}



.btn-nav-white {
  width: 40%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}


.card-persona {
  width: 40%;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.card-persona img{
  width: 100px;
  height: 120px;
  padding-bottom: 10px;
}

.btn-nav-white h3 {
  color: #000000;
  background-color: white;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
  color: #000000;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #FDD92A;
  color: black;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}



.main {
  width: 75%;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
}


.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
