@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter", sans-serif;
}

header {
  background-color: #fdd92a;
  display: flex;
  justify-content: space-between;
  padding: 10px 110px;
}

header .container-logo img {
  width: 130px;
  height: 70px;
}

header .container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header .container-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container-menu ul li {
  list-style: none;
  padding: 0 20px;
}

header .container-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

header .container-menu ul li a:hover {
  border-bottom: 2px solid #000;
}

header .container-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 63px;
}

header .container-buttons .btn {
  width: 100%;
  max-width: 156px;
  padding: 16px 38px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

header .container-buttons .btn.btn-login {
  background: transparent;
  border: 3px solid #15a0d7;
  border-radius: 10px;
  color: #000000;
}

header .container-buttons .btn.btn-cadastro {
  background: #15a0d7;
  border-radius: 10px;
  color: #fff;
}

/* Main */

main .conteudo-inicial {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  padding: 150px 130px;
}

main .conteudo-inicial:after {
  content: url(./assets/submarino.png);
  position: absolute;
  left: 45%;
  right: auto;
  bottom: 10px;
}

main .conteudo-inicial .texto-inicial {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

main .conteudo-inicial .texto-inicial h1 {
  max-width: 835px;
  font-weight: 900;
  font-size: 96px;
  line-height: 116px;
  color: #000000;
}

main .conteudo-inicial .texto-inicial p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

main .conteudo-inicial .texto-inicial a {
  width: 100%;
  max-width: 156px;
  background: #15a0d7;
  border-radius: 10px;
  padding: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

main .conteudo-inicial .imagens {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

main .conteudo-inicial .imagens .topo,
main .conteudo-inicial .imagens .inferior {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

main .curiosidade {
  display: flex;
  flex-direction: column;
  padding: 110px 146px 83px 146px;
  background-image: url(./assets/curiosidade.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 91px;
}

main .curiosidade h2 {
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  color: #ffffff;
}

main .curiosidade p {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #ffffff;
}

main .sobre {
  display: flex;
  flex-direction: row;
  padding: 0 146px;
  margin-bottom: 115px;
  gap: 92px;
}

main .sobre-texto {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

main .sobre-texto h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}

main .sobre-texto p {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

main .integrantes {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 146px 50px;
  position: relative;
}

main .integrantes h3 {
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 30px;
}

main .integrantes .card-integrante {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

main .integrantes .card-integrante p {
  max-width: 943px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
main .integrantes .card-integrante p b {
  font-weight: 900;
}

main .integrantes .card-integrante.paul,
main .integrantes .card-integrante.ringo {
  justify-content: flex-end;
}

main .integrantes:after {
  content: url(./assets/submarino.png);
  position: absolute;
  left: 45%;
  right: auto;
  bottom: 0px;
}

main .missao-visao-valores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 115px 0 250px;
  padding: 0 259px;
  gap: 25px;
}

main .missao-visao-valores .card {
  width: 100%;
  max-width: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

main .missao-visao-valores .card img {
  max-width: 176px;
  margin: 0 auto 67px;
}

main .missao-visao-valores .card.missao {
  border: 2px solid #64883d;
}

main .missao-visao-valores .card.visao {
  border: 2px solid #1a89b6;
}

main .missao-visao-valores .card.valores {
  border: 2px solid #ea074f;
}

main .beatles {
  display: flex;
  width: 100%;
  margin-bottom: 250px;
  justify-content: center;
  flex-direction: column;
  gap: 75px;
  text-align: center;
}

main .beatles h3 {
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
  text-align: center;
  color: #000000;
  max-width: 900px;
  margin: 0 auto;
}

main .beatles a {
  border: 3px solid #15a0d7;
  border-radius: 10px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #000000;
  max-width: 110px;
  margin: 0 auto;
  padding: 20px;
  text-decoration: none;
}
