*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

.container-login{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.img-box{
    width: 50%;
    height: 100vh;
    background-color: aqua;
}

.img-box img{
    width: 100%;
    height: 100%;
}

.container-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-box .form-box {
    width: 50%;
}

.container-box .form-box h2{
    color: black;
    font-weight: 600;
    font-size: 5em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.container-box .form-box .input-box input{
    width: 100%;
    padding: 10px;
    outline:  none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: black;
    background-color: blue; 
}





